.contact-container {
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}
.contact-options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.contact-option {
    background: var(--bg-variant);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    width: 14.5rem;
}
.contact-option:hover {
    background: transparent;
    border-color: var(--primary-variant);
}
.contact-option :first-child {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.contact-option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input,
textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--primary-variant);
    resize: none;
    color: var(--white);
}

@media (max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .contact-options {
        margin: 0 auto;
    }
    form {
        align-items: center;
    }
}
