.header,
.header .btns {
    margin-top: 2rem;
    display: flex;
}
.header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    text-align: center;
}
.header .btns {
    gap: 2rem;
}
.header-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.header-footer .social {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: .7rem;
}
.header-footer img {
    background: linear-gradient(var(--primary), transparent);
    border-radius: 12rem 12rem 0 0;
    width: 22rem;
    height: 24rem;
    margin-top: 4rem;
    margin-left: 3rem;
    overflow: hidden;
    padding-right: 1rem;
}
.scroll-down {
    white-space:nowrap;
    transform: rotate(90deg);
    margin-bottom: 3.5rem;
    margin-right: -2.4rem;
}
@media (max-width: 768px) {
    .btns {
        flex-direction: column;
        align-items: center;
    }
    .header-footer .social,
    .scroll-down{
        display: none;
    }
    .header-footer img {
        width: 15rem;
        height: 19rem;
        margin: 2rem auto;
    }
}

