footer {
    background: var(--primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}
footer a {
    color: var(--bg);
}
.footer-logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}
.footer-socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
.footer-socials a {
    background: var(--bg);
    color: var(--white);
    padding: .8rem;
    border-radius: .7rem;
    display: flex;
    border: 1px solid transparent;
}
.footer-socials a:hover {
    background: transparent;
    color: var(--bg);
    border-color: var(--bg);
}
.footer-copyright {
    margin-bottom: 4rem;
    color: var(--bg);
}
